@charset "UTF-8";

.title{
	overflow: hidden;
    width: 1050px;
    margin: 0 auto;
    padding: 50px 0 51px;
}
.title h2{
    font-weight: 700;
    font-size: 28px;
    color: #333;
    line-height: 35px;
    text-align: center;
    letter-spacing: -1px;
}
table{
	width: 100%;
}
/* table, td, th{
	border: 2px solid black;
	border-collapse: collapse;
} */
.userInfoTbl, .deliveryTbl, .couponTbl, .paymentTbl{
	padding-top: 74px;
}
.couponTbl, .paymentTbl{
    float: left;
    width: 742px;
}
th{
    text-align: left;
    font-size: 20px;
    padding-bottom: 16px;
        border-bottom: 1px solid black;
}
.p_price{
	text-align: end;
}
.original_price{
	padding-left: 6px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    word-break: break-all;
    text-decoration: line-through;
    vertical-align: 1px;
    display: block;
    padding-top: 4px;
    line-height: 24px;
    text-align: right;
}
.p_title{
    width: 50%;
}
.p_count{
    width: 20%;
    text-align: end;
}
.submit_btn{
    display: block;
    width: 240px;
    height: 56px;
    margin: 40px auto 0;
    padding-bottom: 2px;
    border: 0 none;
    border-radius: 3px;
    background-color: #5f0080;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.side_bar{
	position: relative;
    float: right;
    width: 284px;
    height: 0;
}
.total_price h2{
    padding: 74px 0 16px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    line-height: 29px;
    clear: both;
}
th{
	padding-top: 20px;
	
}
td{
	padding: 20px;
}
.tbl_sub{
	width: 190px;
    padding: 8px 0 0;
    color: #333;
    line-height: 24px;
    letter-spacing: -0.32px;
}
.kakaoPay, .creditCard, .simplePay, .phonePay{
	padding-bottom: 20px;
}
.productTbl thead{
	position: relative;
}
#slide_btn{
	overflow: hidden;
    position: absolute;
    right: 4px;
    background-color: transparent;
    border: none;
    width: 30px;
}
.productTbl tbody {
    display: none;
}
dt{
    float: left;
}
dd{
    float: right;
    text-align: right;
}
dl{
	padding: 20px;
}
#money_info{
    width: 100%;
    padding: 17px 16px 18px 18px;
    background: #fafafa;
    border: 1px solid #f2f2f2;
}
#guide{
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
#slide_btn{
	cursor: pointer;
}
textarea{
	resize: none;
	width: 80%;
	height: 60px;
}
#dt_img{
    padding-left: 16px;
    background: url(https://res.kurly.com/pc/service/order/2011/ico_sub_price_dot.svg) no-repeat 0 0;
    background-size: 16px 20px;
}
.amount.sub{
	font-weight: normal;
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
.amount.lst{
    margin: 17px 0 0 0;
    padding-top: 15px;
    border-top: 1px solid #eee;
    font-size: 20px;
    padding-bottom: 40px;
}