<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchase">
	
	
	<select id="selectCouponCode" parameterType="string" resultType="string">
		select
			code
		from
			coupon
		where
			code = #{code}
	</select>
	
	
	<insert id="insertCoupon" parameterType="coupon">
		insert into coupon
		values(#{code}, #{discountRate}, #{expiration}, 'N', #{couponName})
	</insert>
	
	<select id="getUserCouponList" parameterType="string" resultType="coupon">
		select
		    *
		from
		    coupon c inner join user_coupon u
		    on c.code = u.code
		where
		    c.used = 'N'
		    and
		    u.id = #{userId}
	</select>
	
	<update id="updateCouponStatus" parameterType="string">
		update coupon
		set used = 'Y'
		where
			code = #{couponCode}
	</update>
	
	<insert id="addAcc" parameterType="map">
		insert into accumulate_history
		values(#{userId}, #{puid}, #{amount}, #{div}, default)
	</insert>
</mapper>

