<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	
	
	<select id="selectProductListByCategory" parameterType="product" resultType="product">
				select
		    p.*,
		    i.*,
		    b.title "brandTitle",
		    b.sub_title "brandSubTitle",
		    b.content "brandContent",
		    d.discount_rate,
		    pp.price,
            a.original_filename,
            a.renamed_filename,
            a.reg_date
		from
		    mk_product p inner join mk_product_info i
		    on p.p_code = i.p_code
		    inner join mk_brand b
		    on p.brand_code = b.code
		    left join product_discount d
		    on p.p_code = d.p_code
		    left join mk_product_price pp
		    on p.p_code = pp.p_code
            left join mk_product_attachment a
            on p.p_code = a.p_code
		where
			p.large_category = #{largeCategory}
			and
			p.small_category = #{smallCategory}
	</select>
	
	<select id="selectProductDetail" parameterType="string" resultType="product">
		select
		    pp.price,
		    d.discount_rate,
		    p.*,
		    i.*,
		    b.title "brandTitle",
		    b.sub_title "brandSubTitle",
		    b.content "brandContent",
		    pp.accumulation_status,
            a.original_filename,
            a.renamed_filename,
            a.reg_date
		from
		    mk_product p inner join mk_product_info i
		    on p.p_code = i.p_code
		    inner join mk_brand b
		    on p.brand_code = b.code
		    left join product_discount d
		    on p.p_code = d.p_code
		    left join mk_product_price pp
		    on p.p_code = pp.p_code
            left join mk_product_attachment a
            on p.p_code = a.p_code
		where
		    p.p_code = #{pcode}
	</select>
	
	<select id="selectProductOptionsDetail" parameterType="string" resultType="product">
		select
		    p.*,
		    i.*,
		    b.title "brandTitle",
		    b.sub_title "brandSubTitle",
		    b.content "brandContent",
		    d.discount_rate,
		    pp.price
		from
		    mk_product p inner join mk_product_info i
		    on p.p_code = i.p_code
		    inner join mk_brand b
		    on p.brand_code = b.code
		    left join product_discount d
		    on p.p_code = d.p_code
		    left join mk_product_price pp
		    on p.p_code = pp.p_code
            left join mk_product_option o
            on p.p_code = o.p_code
		where
            o.show = 'F'
            and
            o.p_group = #{pcode}
	</select>
	
	<insert id="insertCart" parameterType="map">
		insert into cart
		values(#{userId}, #{pcode}, #{count})
	</insert>
	
	<update id="updateCart" parameterType="map">
		update cart
		set
			count = count + #{count}
		where
			user_id = #{userId}
			and
			p_code = #{pcode}
	</update>
	
	<select id="selectUserCartList" parameterType="string" resultType="map">
		select
		    c.*,
		    i.title,
		    b.title "BRANDTITLE",
		    p.price,
		    p.accumulation_status,
		    d.discount_rate,
		    s.tem_code,
		    s.tem_name
		from
		    cart c inner join mk_product m
		    on c.p_code = m.p_code
		    inner join mk_product_info i
		    on c.p_code = i.p_code
		    inner join mk_product_price p
		    on c.p_code = p.p_code
		    left join product_discount d
		    on c.p_code = d.p_code
		    left join mk_brand b
		    on m.brand_code = b.code
		    left join mk_product_st_temperature s
		    on c.p_code = s.p_code
		where
			user_id = #{userId}
	</select>
	
	<select id="selectOneProductInCart" parameterType="map" resultType="map">
		select
		    c.user_id,
		    c.p_code,
		    c.count,
		    b.title "BRANDTITLE",
		    i.title,
		    p.price,
		    d.discount_rate
		from
		    cart c left join mk_product_price p
		    on c.p_code = p.p_code
		    left join product_discount d
		    on c.p_code = d.p_code
		    left join mk_product m
		    on c.p_code = m.p_code
		    left join mk_brand b
		    on m.brand_code = b.code
		    left join mk_product_info i
		    on c.p_code = i.p_code
		where
		    c.p_code = #{pcode}
		    and
		    c.user_id = #{userId}
	</select>
	
	<delete id="deleteCart" parameterType="map">
		delete from cart
		where
			user_id = #{userId}
			and
			<foreach collection="deleteArr" item="cart" separator="OR">
			p_code = #{cart}			
			</foreach>
	</delete>
	
</mapper>

