<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	
	
	<select id="selectProductListByCategory" parameterType="product" resultType="product">
		select
		    p.*,
		    i.*,
		    b.title "brandTitle",
		    b.sub_title "brandSubTitle",
		    b.content "brandContent",
		    d.discount_rate,
		    pp.price
		from
		    mk_product p inner join mk_product_info i
		    on p.p_code = i.p_code
		    inner join mk_brand b
		    on p.brand_code = b.code
		    left join product_discount d
		    on p.p_code = d.p_code
		    left join mk_product_price pp
		    on p.p_code = pp.p_code
		where
			p.large_category = #{largeCategory}
			and
			p.small_category = #{smallCategory}
			 
	</select>
	
	<select id="selectProductDetail" parameterType="string" resultType="product">
		select
		    pp.price,
		    d.discount_rate,
		    p.*,
		    i.*,
		    b.title "brandTitle",
		    b.sub_title "brandSubTitle",
		    b.content "brandContent"
		from
		    mk_product p inner join mk_product_info i
		    on p.p_code = i.p_code
		    inner join mk_brand b
		    on p.brand_code = b.code
		    left join product_discount d
		    on p.p_code = d.p_code
		    left join mk_product_price pp
		    on p.p_code = pp.p_code
		where
		    p.p_code = #{pcode}
	</select>
	
	<insert id="insertCart" parameterType="map">
		insert into cart
		values(#{userId}, #{pcode}, #{count})
	</insert>
	
	<update id="updateCart" parameterType="map">
		update cart
		set
			count = count + #{count}
		where
			user_id = #{userId}
			and
			p_code = #{pcode}
	</update>
	
	<select id="selectUserCartList" parameterType="string" resultType="map">
		select
		    c.*,
		    i.title,
		    b.title "BRANDTITLE",
		    p.price,
		    d.discount_rate,
		    s.tem_code,
		    s.tem_name
		from
		    cart c inner join mk_product m
		    on c.p_code = m.p_code
		    inner join mk_product_info i
		    on c.p_code = i.p_code
		    inner join mk_product_price p
		    on c.p_code = p.p_code
		    left join product_discount d
		    on c.p_code = d.p_code
		    left join mk_brand b
		    on m.brand_code = b.code
		    left join mk_product_st_temperature s
		    on c.p_code = s.p_code
		where
			user_id = #{userId}
	</select>
	
</mapper>

