@charset "UTF-8";


/*전체 크기*/
.member_join {
    width: 640px;
    margin: 0 auto;
}

/*위 줄*/
.member_join .tbl_comm {
    width: 100%;
    border-top: 2px solid #333;
}
/*필수항목 표시*/
.member_join th .ico {
    color: #ee6a7b;
}
.member_join .page_sub .ico {
    padding-right: 2px;
    color: #ee6a7b;
}

.screen_out {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.page_aticle button, .page_aticle input, .page_aticle select, .page_aticle * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: 0;
}
/*title*/
.tit_page {
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0 51px;
}
.tit_page h2.tit {
    font-weight: 700;
    font-size: 28px;
    color: #333;
    line-height: 35px;
    text-align: center;
    letter-spacing: -1px;
}

.member_join .page_sub {
    padding-bottom: 10px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
    text-align: right;
}
/*input*/
.member_join input[type=text], .member_join input[type=password] {
    width: 332px;
}
.type_form textarea, .type_form input[type=text], .type_form input[type=password] {
    height: 44px;
    padding: 0 14px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    vertical-align: top;
}
/*th*/
.member_join .tbl_comm .fst th {
    padding-top: 29px;
}
.member_join th {
    width: 159px;
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
}
/*td*/
.member_join .tbl_comm .fst td {
    padding-top: 19px;
}
.member_join td {
    padding: 10px 0;
    border-top: 0;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
}
/*중복확인버튼*/
.type_form .btn.default {
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080;
}
.member_join .btn {
    width: 120px;
    margin-left: 5px;
    vertical-align: top;
}
.type_form .btn {
    height: 44px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    outline: none;
}

.member_join input[type=text], .member_join input[type=password] {
    width: 332px;
}

/*생년월일*/
.member_join .birth .birth_day {
    overflow: hidden;
    width: 332px;
    padding-left: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.member_join .birth .birth_day input[type=text] {
    float: left;
    width: 84px;
    height: 40px;
    border: 0;
    text-align: center;
}
.member_join .birth .bar:after {
    content: "/";
    float: left;
    width: 22px;
    height: 100%;
    font-size: 14px;
    color: #ccc;
    line-height: 42px;
    text-align: center;
}
/*약관*/
.member_join .txt_guide {
    width: 332px;
}
.type_form .txt_guide {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    word-break: break-all;
    letter-spacing: -.1px;
    clear: both;
}
.txt_guide p {
    display: block;
}

/*약관보기*/
.member_join .btn_link:after {
    content: '';
    display: inline-block;
    margin-top: 4px;
    width: 6px;
    height: 9px;
    background: url(https://res.kurly.com/pc/service/common/2006/ico_arrow_6x9.svg) no-repeat 50% 0;
    background-size: 6px 9px;
    vertical-align: top;
}
/*가입하기버튼*/
.member_join .form_footer .btn_join {
    width: 240px;
    height: 56px;
    font-size: 16px;
    line-height: 54px;
}
.type_form .btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff;
}
/*가입하기버튼*/
.member_join .btn {
	cursor: pointer;
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    vertical-align: top;
}
.member_join .form_footer {
    padding-top: 40px;
    text-align: center;
}
/*버튼*/
.white-btn{
	cursor: pointer;
	border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080;
    width: 120px;
    margin-left: 5px;
    vertical-align: top;
    border-radius: 3px;
    font-weight: 700 !important;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    outline: none;
}

/*주소검색 아이콘*/
.member_join #addressNo {
    display: inline-block;
    height: 100%;
    padding-left: 24px;
    font-weight: 700;
    font-size: 14px;
    color: #5f0080;
    line-height: 40px;
    background: url(https://res.kurly.com/pc/service/common/2006/ico_search.svg) no-repeat 0 50%;
    background-size: 25px 24px;
    vertical-align: top;
    background-position-x: 10px;
}

/*radio*/
/*원래꺼 안보이게*/
.type_form input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.type_form input[type=radio]+.ico {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 100%;
    vertical-align: -7px;
}

.type_form input[type=radio]:checked+.ico {
    border: 1px solid #5f0081;
    background-color: #5f0080;
}
.type_form input[type=radio]:checked+.ico:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: 100%;
    background-color: #fff;
}
/*padding*/
.member_join .select_gender label {
    display: inline-block;
    padding: 10px 52px 10px 0;
    vertical-align: top;
}
.type_form label {
    font-size: 14px;
    line-height: 22px;
}
.member_join .route .group_radio {
    padding: 10px 0 20px;
}

/*checkbox*/
.member_join .reg_agree .label_all_check .ico {
    vertical-align: -6px;
}
.type_form input[type=checkbox]+.ico {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 0;
    background: url(https://res.kurly.com/pc/service/common/2006/ico_checkbox.svg) no-repeat 50% 50%;
    background-size: 24px 24px;
    vertical-align: -7px;
}
/*원래있던거 안보이게*/
.type_form input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.type_form input[type=checkbox]:checked+.ico {
    background: url(https://res.kurly.com/pc/service/common/2006/ico_checkbox_checked.svg) no-repeat 50% 50%;
    background-size: 24px 24px;
}

.member_join .reg_agree .label_all_check .ico {
    vertical-align: -6px;
}
/*padding값 조절*/
.member_join .check_view .check_agree {
    padding: 8px 0;
}
.type_form label.label_block {
    display: block;
    padding: 15px 0 13px;
}
.type_form label {
    font-size: 14px;
    line-height: 22px;
}
.member_join .btn_link {
    position: absolute;
    right: 22px;
    top: 0;
    padding-top: 10px;
    font-size: 14px;
    color: #5f0080;
    line-height: 18px;
    letter-spacing: 0;
}
/*약관보기 보이도록 조절*/
.member_join .check_view {
    position: relative;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 250px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
border-radius: 12px;
    width: 440px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.btn_agreement{
	cursor: pointer;
}
.modal-header{
    padding: 25px 25px 8px 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #333;
    letter-spacing: -1px;
}
.guide{
	display: none;
	padding-top: 10px;
}
.ok{
	color: #0f851a;
}
.ok:before{
    content: '\2713';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}
.error, .limit{
	color: #b3130b;
}
.error:before, .limit:before{
    content: '\2715';
    display: inline-block;
    padding-right: 3px;
    font-size: 12px;
    vertical-align: 0;
}

/*타이머*/
.member_join .field_phone .code_num .count_down {
    position: absolute;
    left: 216px;
    top: 21px;
    width: 100px;
    font-size: 14px;
    color: #b3130b;
    line-height: 20px;
    text-align: right;
    letter-spacing: -.5px;
}

.member_join .field_phone .code_num {
    position: relative;
    padding-top: 10px;
}
.code_num{
	display:none;
}