<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.productService.model.dao.ProductServiceDao">
    <select id="selectBestProductReview" resultType="productReview">
        select
            *
        from(
                select
                    *
                from
                    mk_product_review
                where
                    p_code = #{code}
                order by
                    read_count desc, reg_date desc
            )
        where
            rownum = 1
    </select>

    <select id="selectFirstPageProductReview" resultType="productReview">
        select
        *
        from(
        select
        *
        from
        mk_product_review
        where
        announce = 'D'
        and
        p_code = #{code}
        <if test='bool == "T"'>
            and
            not no = #{no}
        </if>
        order by
        reg_date desc)
        where
        rownum between 1 and #{bTotal}
    </select>

    <select id="countAllProductReview" resultType="int">
        select
        count(*)
        from
        mk_product_review
        where
        announce = 'D'
        and
        p_code = #{code}
        and
        not no in
        <foreach collection="firstPage" index="index" item="no" open="(" separator="," close=")">
            #{no}
        </foreach>
    </select>

    <select id="selectAllProductReview" resultType="productReview">
        select
        *
        from
        mk_product_review
        where
        announce = 'D'
        and
        p_code = #{code}
        and
        not no in
        <foreach collection="firstPage" index="index" item="no" open="(" separator="," close=")">
            #{no}
        </foreach>
    </select>

    <insert id="insertProductReview">
        insert into mk_product_review values(seq_mk_announcement_no.nextval, #{pCode}, #{writer}, default, #{title}, #{content}, default, default)
        <selectKey order="AFTER" resultType="int" keyProperty="no">
            select seq_mk_product_review_no.currval from dual
        </selectKey>
    </insert>
</mapper>

